body {
    font-family: Arial;
    text-align: center;
}

header {
    background: #333;
    color: white;
    padding: 20px;
}

.room {
    border: 1px solid #ccc;
    margin: 20px;
    padding: 10px;
}
